:root {
  font-family: "Jost", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fefefe;
  color: #2a3d56;
}
img {
  transition: opacity 0.3s ease;
}

.opacity-100 {
  opacity: 1;
}

.opacity-70 {
  opacity: 0.5;
}

img:hover {
  opacity: 1;
  cursor: pointer;
}

.selected {
  opacity: 1 !important;
}
#checkInDate,
#checkOutDate,
#numberOfGuests {
  color: #565656#1bcb73;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  background-color: #2a3d56;
  border-color: #2a3d56;
}

input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}
